.chat__side__bottom--groupname
    sampleグループ
    %br/
.chat__side__bottom--groupmessage
    aaaaa
    %br/
.chat__side__bottom--groupname
    sampleグループ２
    %br/
.chat__side__bottom--groupmessage
    bbbbb
    %br/
.chat__side__bottom--groupname
    sampleグループ３
    %br/
.chat__side__bottom--groupmessage ccccc
