!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "hukusyuu1.css", :rel => "stylesheet"}/
  %body
    .chat__side
      .chat__side-1
        .chat__side_userrrrrrrrrr
      .chat__side-2
