!!!
%html
  %head
  %body
  .wrapper
    .notice メッセージが送信されました。
    .chat__side
      .chat__side__top
        .chat__side__username
          小林幸夫
          %a{:href => "”http://example.jp”"}
            %i.fa.fa-edit.icon-num1
          %a{:href => "”http://example2.jp”"}
            %i.fa.fa-cog.icon-num2
      .chat__side__bottom
        = render partial:"group-message"
    .chat__main
      .chat__main__header
        .chat__main__header__group.clearfix
        .chat__main__header__group--name
          グループネーム
        .chat__main__header__group--edit
          エディット
        .chat__main__header__group--member
          グループメンバー
      .chat__main__body
        .chat__main__body__messages--list
          .chat__main__body__message.clearfix
            = render partial:"contribute"
      .chat__main__footer
        .chat__main__footer--body
          %form{action: "", method: :post}
            %input{:type => "text", :placeholder => "type a message", :class => "text"}
            %input{:type => "submit", :value => "Send", :class => "submit"}
            %i.fa.fa-image.icon-edit


