!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
  %body
    .chat__side
      .chat__side-1
        .chat__side-user-name
          小林幸夫
          %a{:href => "”http://example.jp”"}
            %i.fa.fa-edit
          %a{:href => "”http://example2.jp”"}
            %i.fa.fa-cog
      .chat__side-2
        .chat__side-2-groupname
          sampleグループ
          %br/
        .chat__side-2-groupmessage
          aaaaa
          %br/
        .chat__side-2-groupname
          sampleグループ２
          %br/
        .chat__side-2-groupmessage
          bbbbbbb
          %br/
        .chat__side-2-groupname
          sampleグループ３
          %br/
          .chat__side-2-groupmessage
            ccccccc
            %br/
    .chat-main
    .chat-main__header
      .chat-main__header-group.clearfix
      .chat-main__header-group-name
        グループネーム
      .chat-main__header-group-edit
        エディット
      .chat-main__header-members
        グループメンバー
    .chat-main__body
      .chat-main__body-messages-list
        .chat-main__body-message.clearfix
          .chat-main__body-message-name 小林幸夫
          .chat-main__body-message-time ２０１７年８月４日
          .chat-main__body-message-body 組み立てていこう
          .chat-main__body-message-name 小林幸夫
          .chat-main__body-message-time ２０１７年８月９日
          .chat-main__body-message-body 組み立てていこう

