.chat__main__body__message--name 小林幸夫
.chat__main__body__message--time ２０１７年８月４日
.chat__main__body__message--text 組み立てていこう
.chat__main__body__message--name 小林幸夫
.chat__main__body__message--time ２０１７年８月９日
.chat__main__body__message--text よろしくお願いします
