.chat__side {
  height: 100vh;
  width: 300px;
  float: left;

  &__top {
    height: 15%;
    width: 100%;
    background-color: $chat__side1backcolor;
    position: relative;
  }

   &__username {
    color: $message;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px;
    display: inline-block;
    }

  &__bottom {
    height: 85%;
    width: 100%;
    background-color: $chat__side2backcolor;

    &--groupname{
      font-size: 20px;
      margin-bottom: 5px;
      color :$message;
    }
    &--groupmessage{
      font-size: 15px;
      color :$message;
      padding-bottom: 40px;
    }
  }
}

a{
  display: inline-block;
}

.fa{
  color:white;
 font-size: inherit;
}

.icon-num1{
  padding-left:220px;
}



